* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 25px;
  /*#dfe8f7
  #edf0f5
  */
}
html, body {
  height: 100%;
}
.container {
  padding: 0 2%;
  max-width: 1130px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
section.home{
  height: 100vh;
  display: inline-block;
  width: 100%;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo{
  width: 210px;
  height: 80px;
  background-image: url("../midias/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
nav.desktop {
  margin-top: -35px;
  float: right;
}
nav.desktop ul {
  list-style-type: none;
}
nav.desktop li {
  display: inline-block;
  padding-right: 30px;
}
li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
nav.desktop li a:hover {
  color: rgba(33, 96, 131, 1);
}
nav.desktop button {
  font-weight: bold;
  margin-top: -12px;
  width: 220px;
  height: 50px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  padding: 0 20px;
  line-height: 20px;
  float: right;
  background-color: rgb(18, 138, 22);;
}
nav.desktop button a {
  text-decoration: none;
  color: #000;
}
nav.desktop button:hover {
  transition: 1.5;
  background-color: rgba(76, 175, 80, 1);
}
nav.mobile {
  display: none;
  margin-top: -40px;
  margin-right: 5%;
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  background-image: url("../midias/menu.png");
  background-size: 100% 100%;
  z-index: 1;
}
nav.mobile ul {
  display: none;
  background-color: #c2daff;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 45px;
  list-style-type: none;
  text-align: center;
  z-index: 1;
}
nav.mobile li {
  padding: 8px 0;
  transition: 0.4s;
}
nav.mobile li:hover {
  background-color: rgba(33, 96, 131, 1);
}
nav.mobile ul a {
  color: black;
  text-decoration: none;
}
nav.mobile button {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  font-size: 19px;
  padding: 0 20px;
  background-color:rgba(76, 175, 80, 1);
  line-height: 20px;
}
nav.mobile button a {
  text-decoration: none;
}
nav.mobile button:hover {
  transition: 1.5;
  background-color: rgba(76, 175, 80, 1);
}
.banner{
  margin: 30px 0;
}
.bannerLeft h1{
  width: 44%;
  font-size: 39px;
  float: left;
  margin:30px auto;
  font-weight: bold;
  letter-spacing: 0.017vw;
  vertical-align: middle;
  text-align: left;
  justify-content: center;
  align-items: center;
  line-height:50px;
}
.bannerRight{
  float: left;
  width: 50%;
}
.bannerRight video{
  width: 400px;
  height: 200px;
  margin-left: 2%;
  margin-top: 60px;
  margin-bottom: 20px;
}
.bannerRight p{
  margin-left: 25%;
  font-size: 18px;
  margin-bottom: 50px;
  font-display: swap;
}
.whatsapp a{
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 100;
}
.whatsapp img{
  width: 60px;
  height: 60px;
}
section.parceiros{
  background-color: rgba(117, 171, 201, 1);
  display: inline-block;
  width: 100%;
  margin-top: -5px;
}
section.parceiros h2{
  margin: 2%;
  text-align: center;
}
.logoParceiros{
  width: 100%;
  border: 0;
  margin-bottom: 60px;
}
.logoParceiros img{
  width: 16.6%;
  float: left;
  filter: grayscale(90%);
  padding: 1%;
  margin-bottom: 60px;
}
section.comentarios{
  margin-top: -100px;
  height: auto;
  margin-bottom: 110px;
}
section.comentarios h2{
  margin-top: 150px;
  margin-bottom: -30px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.017vw;
  color: rgb(50, 47, 63);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-height:424px){
  section.comentarios{
    margin-top: 240px;
  }
}
@media screen and (max-height:330px){
  section.comentarios{
    margin-top: 375px;
  }
}
@media screen and (max-height:260px){
  section.comentarios{
    margin-top: 475px;
  }
}
@media screen and (max-height:165px){
  section.comentarios{
    margin-top: 575px;
  }
}
#Carousel {
  width: 100%;
  box-sizing: inherit;
  height: auto;
  top: 0;
  left: 0;
  background: #fff;
}
#Carousel *{
  position: relative;
}
#CarouselTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 5vw;
  text-align: center;
  color: #302f36;
  top: 32px;
}
#CarouselMain {
  width: 70%;
  margin: auto;
  min-height: 15vw;
  top: 70px;
  padding: 0 100px;
}
#carouselExampleCaptions {
  height: 100%;
  color: #fff;
  z-index: 1;
}
.carousel-item-next {
  position: absolute !important;
}
.carousel-item-prev {
  position: absolute !important;
}
.carousel-caption {
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  min-height: 100%;
}
.carousel-caption h3{
  color: black;
  text-align: center;
  letter-spacing: 0.5px;
  height: 100%;
}
.carousel-caption h5 {
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.5px;
  height: 100%;
  color: #595666;
  
}
.carousel-control-prev {
  position: absolute !important;
}
.carousel-control-next {
  position: absolute !important;
}
.carousel-indicators .active {
  background-color: #3b98cc;
}
.carousel-indicators li {
  background-color: #a6dfff;
}
.carousel-indicators {
  position: absolute !important;
  bottom: 0;
}
/*
@media screen and (max-width:992px){
  section.comentarios{
    margin-top: -50px;
  }
  #CarouselMain {
    width: 100%;
    margin: auto;
    min-height: 15vw;
    top: 80px;
    
    padding: 0 100px;
  }
}
*/
@media screen and (max-width:800px){
  #carouselExampleCaptions{
    width: 100%;
  }
  #CarouselMain {
    width: 80%;
    margin: auto;
    height: auto;
  }
  .carousel-item-next {
    position: absolute !important
  }
  .carousel-item-prev {
    position: absolute !important;
  }
  .carousel-caption {
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: auto;
  }
  .carousel-caption h5 {
    line-height: 25px;
  }
  .carousel-caption p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15px;
    color: #3b98cc;
  }
  .carousel-caption span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    margin-bottom: 50px;
    color: #7f7e87;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .carousel-control-prev {
    position: absolute !important;
  }
  .carousel-control-next {
    position: absolute !important;
  }
  .carousel-indicators .active {
    background-color: #3b98cc;
  }
  .carousel-indicators li {
    background-color: #a6dfff;
  }
  .carousel-indicators {
    position: absolute !important;
    bottom: 0;
  }
}
.destino{
  width: 100%;
  margin-top: 100px;
  display: none;
}
.singleDestino{
  width: 100%;
  float: none;
}
.singleDestino p{
  padding: 20px;
  text-align: center;
}
.singleDestino h3{
  text-align: center;
}
section.trabalhamos{
  display: inline-block;
  width: 100%;
}
section.trabalhamos h2{
  margin-bottom:-20px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.017vw;
  color: rgb(50, 47, 63);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}
section.trabalhamos h3{
  margin:30px auto;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.017vw;
  color: rgb(78, 78, 78);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}
.boxFlex{
  margin-bottom: 50px;
}
.flex{
	display: flex;
  margin: auto;
  text-align: center;
}
.imgFlex1 video{
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imgFlex2 video{
  width:600px;
  margin-top: -40px;
  margin-bottom: 10px;
}
.imgFlex3 video{
  width: 504px;
  height: 351px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.imgFlex4 video{
  width:500px;
  margin-top: -30px;
  margin-bottom: 10px;
}
.imgFlex5 video{
  width: 504px;
  height: 351px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.text-flex{
  margin-top: 80px;
	width: 60%;
	padding:90px 40px;
}
.text-flex p{
	width: 70%;
  margin: auto;
  opacity: 0.7;
  filter: grayscale(90%);
  font-display: swap;
}
section.beneficios{
  background-color: rgba(117, 171, 201, 1);
  display: inline-block;
  width: 100%;
}
.boxBeneficios{
  width: 100%;
  text-align: center;
}
.boxBeneficios h2{
  margin:30px auto;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.017vw;
  color: rgb(50, 47, 63);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 5vw;
}
.singleBeneficios{
  width: 33.3%;
  float: left;
  text-align: center;
  margin-top: 20px ;
}
.singleBeneficios img{
  width: 70px;
  opacity: 0.8;
}
.singleBeneficios h3{
  margin-top: 12px;
  margin-bottom: 12px;
}
.singleBeneficios p{
  font-display: swap;
  filter: grayscale(90%);
}
.btn button {
  font-weight: bold;
  width: 100%;
  height: 60px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  padding: 0 20px;
  line-height: 20px;
  background-color: rgb(18, 138, 22);
  margin: 50px auto;
  text-align: center;
}
.btn button img{
  width: 25px;
}
.btn button a {
  text-decoration: none;
  color: white;
}
.btn button:hover {
  transition: 1.5;
  background-color: rgba(76, 175, 80, 1);
}
section.solucoes {
  display: inline-block;
  width: 100%;
}
section.solucoes h2{
  margin:30px auto;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.017vw;
  color: rgb(50, 47, 63);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 5vw;
}
.topSolucoes{
  background: rgba(33, 96, 131, 1);
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 8px;
  top: 0px;
  left: 0px;
}
.solucoesBox{
  width: 100%;
}
.solucoesSingle{
  float: left;
  margin-bottom: 70px;
  margin-left: 2.5%;
  background: rgb(255, 255, 255);
  border-radius: 10px 10px 20px 20px;
  box-shadow: rgb(0 0 0 / 14%) 0px 8px 10px 0px;
  width: 30%;
  height: auto;
}
.solucoesSingle h3{
  text-align: center;
  padding: 15px;
}
.solucoesSingle p{
  font-display: swap;
  text-align: center;
  padding: 5px 15px;
  font-size: 15px;
  margin-bottom: 8px;
}
.positivo{

  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.017vw;
  color: #595666;
  width: 100%;
  line-height: 1.319vw;
  height: auto;
  vertical-align: middle;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0;
  padding:15px 20px;
}
.positivo img{
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
section.midia{
  width: 100%;
  display: inline-block;
  background-color:rgba(117, 171, 201, 1);
}
section.midia h2{
  margin:30px auto;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.017vw;
  color: rgb(50, 47, 63);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 5vw;
  width: 100%;
}
.midaBox{
  width: 100%;
}
.midia1, .midia2, .midia3, .midia4{
  width: 20%;
  float: left;
  height: 180px;
  margin-bottom: 50px;
  filter: grayscale(90%);
}
.midia1{
  background-image: url('../midias/folha.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin:0 2%;
}
.midia2{
  background-image: url('../midias/globo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin:0 2%;
}
.midia3{
  background-image: url('../midias/exame.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin:0 2%;
}
.midia4{
  background-image: url('../midias/startse.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin:0 2%;
}
footer{
  display: inline-block;
  width: 100%; 
  background-color:#a3a3a3;
}
.logoFooter {
  width: 210px;
  height: 80px;
  background-image: url("../midias/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
}
.w50{
  width: 80%;
  float: none;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.redes{
 margin: 15px auto;
 text-align: center;
}
.redes img{
  text-align: center;
  margin:  0 20px;
}
.contato{
  margin-bottom: 20px;
  float: none;
  text-align: center;
}
.contato p{
  margin-top: 10px;
  font-display: swap;
  font-size: 18px;
}
.direitos{
  text-align: center;
  margin: auto;
  display: block;
  font-size: 12px;
}
@media screen and (max-width:1050px){
  .imgFlex2 video{
    width:500px;
  }
}
@media screen and (max-width: 1030px){
  section.comentarios{
    margin-top: 10px;
  }
  .logoParceiros{
   text-align: center;
   margin: auto;
  }
  .logoParceiros img{
    width: 30%;
    float: none;
  }
}
@media screen and (max-width:955px){
  .btn button a {
    font-size: 20px;
  }
  .btn button {
    width: 100%;
  }
}
@media screen and (max-width: 800px){
  section.home{
    height: auto;
  }
  .bannerLeft h1{
    width: 100%;
    float: none;
    text-align: center;
  }
  .bannerRight{
    float: none;
    width: 100%;
    text-align: center;
  }
  .bannerRight video{
    width: 300px;
    height: 150px;
    margin-left: -39.3%;
    margin-top: 0;
  }
  .bannerRight p{
    margin-left:0;
    margin-top: 0;
  }
  span{
    top: 80px;
  }
  .flex{
    display: block;
  }
  .text-flex{
    width: 100%;
    padding:25px 0;
  }
  .imgFlex h3{
    font-size: 24px;
  }
  .text-flex p{
    margin-top: -100px;
    width: 70%;
  }
  .solucoesSingle{
    float: none;
    margin-left: 0;
    width: 50%;
    margin: 40px auto;
  }
}
@media screen and (max-width:770px){
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
  }
  section.comentarios{
    margin-top: -100px;
  }
  #Carousel{
    display: none;
  }
  .destino{
    display: block;
  }
}
@media screen and (max-width: 700px){
  .logoParceiros img{
    width: 50%;
    float: left;
    padding: 2%;
  }
  span{
    top: 80px;
  }
  .singleBeneficios{
    width: 70%;
    float: none;
    margin: auto;
    margin-top: 20px;
  }
  .btn button {
    height: 50px;
    font-size: 18px;
  }
  .solucoesSingle{
    width: 70%;
  }
}
@media screen and (max-width: 600px){
  section.comentarios{
    height: auto;
    margin-top: -80px;
  }
  #slider img{
    width: 95%; 
  }
  .imgFlex1 video{
    width: 90%;
    height: 400px;
  }
  .imgFlex2 video{
    width: 100%;
    height: 400px;
  }
  .imgFlex3 video{
    width: 100%;
    height: 400px;
  }
  .imgFlex4 video{
    width: 100%;
    height: 400px;
  }
  .imgFlex5 video{
    width: 100%;
    height: 400px;
  }
  .solucoesSingle{
    width: 100%;
  }
  section.midia h2{
    font-size: 37px;
  }
  .midia1, .midia2, .midia3, .midia4{
    width: 40%;
    float: none;
    text-align: center;
    height: 100px;
  }
  .midia1{
    margin: 0 auto;
    
  }
  .midia2{
    margin: 0 auto;
  }
  .midia3{
    margin: 0 auto;
  }
  .midia4{
    margin: 0 auto;
  }
  .w50{
    width: 100%;
    float: none;
  }
  .redes{
    text-align: center;
  }
  .logoFooter{
    width: 60%;
    text-align: center;
    margin: auto;
    height: 80px;
  }
}
@media screen and (max-width:527px){
  .cssNo{
    display: none;
  }
  #Carousel{
    display: none;
  }
  .destino{
    display: block;
  }
}
@media screen and (max-width: 465px){
  .logoParceiros img{
    width: 100%;
    float: none;
    padding: 2%;
  }
  section.trabalhamos h2{
    margin-top:-80px;
  }
  .bannerRight video{
    width: 275px;
   
    margin-left: 0;
  }
  .singleBeneficios{
    width: 100%;
  }
  .btn button {
    width: 100%;
  }
  .btn button a {
    font-size: 15px;
  }
  section.trabalhamos h3{
    margin-bottom: 100px;
  }
  .imgFlexText1  {
    margin-top: 100px;
    margin-bottom: -100px;
  }
  .imgFlex1 video{
    width: 100%;
    margin-top: -10px;
    margin-bottom: 90px;
  }
  .imgFlexText2{
    margin-top: 100px;
    margin-bottom: -100px;
  }
  .imgFlex2 video{
    width: 100%;
    margin-top: -80px;
  }
  .imgFlexText3{
    margin-top: 100px;
    margin-bottom: -50px;
  }
  .imgFlex3 video{
    width: 100%;
    height: 480px;
    margin-top: -150px;
  }
  .imgFlexText4{
    margin-top: 100px;
    margin-bottom: -90px;
  }
  .imgFlex4 video{
    width: 100%;
    height: 480px;
    margin-top: -100px;
    margin-bottom: 30px;
  }
  .imgFlexText5{
    margin-top: 100px;
    margin-bottom: -50px;
  }
  .imgFlex5 video{
    width: 100%;
    margin-bottom: 50px;
    margin-top: -90px;
  }
  .text-flex{
    width: 100%;
    margin-top: -10px;
  }
  .imgFlex h3{
    font-size: 24px;
  }
  .imgFlex h3{
    width: 100%;
    margin-top: 20px;
    margin-top: -50px;
  }
  .text-flex p{
    width: 100%;
  }
  .line{
    line-height: 20px;
  }
  .logoFooter{
    width: 70%;
    height: 100px;
  }
}
@media screen and (max-width: 387px){
  .btn button a {
    font-size: 15px;
  }
  .logoFooter{
    width: 85%;
  }
}
@media screen and (max-width: 360px){
  .btn button a {
    font-size: 14px;
  }
  .btn button img {
    display: none;
  }
  .boxBeneficios h2{
    line-height: 38px;
    font-size: 33px;
    
  }
}
